.container--0- {
  position: absolute;
  left: 795px;
  top: -491px;
  width: 1512px;
  height: 982px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.text-0-1-3 {
  width: 22px;
  height: 23px;
  color: #000000;
  font-size: 15px;
  font-family: Poppins, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.container-0-1-5 {
  position: absolute;
  left: 1052px;
  top: 730px;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.text-0-1-6 {
  width: 231px;
  height: 78px;
  color: #000000;
  font-size: 58px;
  font-family: Poppins, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}
.text-0-1-9 {
  width: 336px;
  height: 49px;
  color: #00000080;
  font-size: 24px;
  font-family: Poppins, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}
.text-0-1-10 {
  width: 336px;
  height: 49px;
  color: #00000080;
  font-size: 24px;
  font-family: Poppins, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}
.text-0-1-12 {
  width: 57px;
  height: 27px;
  color: #ffffff;
  font-size: 18px;
  font-family: Poppins, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}
.text-0-1-14 {
  width: 551px;
  height: 480px;
  color: #000000;
  font-size: 30px;
  font-family: Poppins, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-15 {
  width: 554px;
  height: 78px;
  color: #000000;
  font-size: 58px;
  font-family: Poppins, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}
.text-0-1-17 {
  width: 145px;
  height: 27px;
  color: #ffffff;
  font-size: 18px;
  font-family: Poppins, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}