* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-y: auto;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.questions-left, .questions-right {
    display: flex;
    flex-direction: column;
}

.questions-left .question-block:last-child {
    margin-top: auto;
}

.question-block {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

.question-block div label {
    margin-right: 20px; 
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}

.submit-btn {
    grid-column: span 2;
    display: block;
    background-color: #d71921;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 20px auto 0 auto;
}

.submit-btn:hover {
    background-color: #a11218;
}
