* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Updated to match theme */
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-y: auto;
}

.quiz-container {
    background-color: #fff;
    padding: 30px; /* Increased padding for a balanced look */
    border-radius: 12px; /* Increased border radius for consistency */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Softer shadow for visual depth */
    width: 600px;
    max-width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ba171a; /* Dark red color for title to match theme */
    font-weight: 600;
}
.submit-btn {
    grid-column: span 2;
    display: block;
    background-color: #ba171a; /* Updated button color to match theme */
    color: white;
    padding: 15px 20px;
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin: 30px auto 0 auto;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #a11218; /* Slightly darker shade on hover */
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.question-block {
    background-color: #D9D9D9; /* Light grey background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
}

.question-content {
    background-color: #ffffff; 
    padding: 15px;
    border-radius: 6px;
}

.question-label {
    font-size: 1.1em;
    font-weight: 500;
    color: #333; 
    margin-bottom: 10px;
}

.options-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}


