* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.results-box {
    background-color: #ba171a; /* Dark red */
    border-radius: 12px;
    padding: 40px;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.results-box h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.result-status {
    font-size: 1.5em;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
}

.at-risk {
    color: #ffcc00; /* Highlight color for AT RISK */
}

.logo {
    max-width: 150px;
    height: auto;
    margin: 20px auto;
}

.suggestion,
.status {
    font-size: 1.1em;
    color: #ffffff;
    margin-top: 10px;
}
