* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 180px;
  height: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #ba171a; 
  padding: 30px;
  border-radius: 8px;
}

.login, .mission-statement {
  width: 48%;
  background-color: #ffffff; 
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 18px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #ba171a;
}

.btn-login, .btn-create-account {
  width: 100%;
  padding: 12px;
  background-color: #ba171a; /* Dark red button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}

.btn-login:hover, .btn-create-account:hover {
  background-color: #a31518; 
}

.or-text {
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.mission-statement p {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.heart-icon {
  display: block;
  margin: 20px auto; 
  width: 50px;
  height: 50px;
}